= form_for @snippet do |f|
  %div.form-group
  = f.label :name
  = f.text_field :name, :required => true, :value => @snippet.name, :autofocus => true, :class => 'form-control'

  = f.label :content
  = f.text_field :content, :required => true, :class => 'form-control'

  = f.label :user_id
  = f.hidden_field :user_id, :value => @current_user.id

  = f.submit "Update"
