= form_for @snippet do |f|
  %div.form-group
  = f.label :name
  = f.text_field :name, :required => true, :autofocus => true, :class => 'form-control'
  %div.form-group
  = f.label :content
  = f.text_field :content, :required => true, :class => 'form-control'
  %div.form-group
  = f.submit "Create snippet"