%table.table.table-striped
  %tr
    %th
      Name
    %td= @snippet.name 
  %tr
    %th
      ID
    %td= @snippet.id.to_s
  %tr
    %th
      Content
    %td= @snippet.content
  %tr
    %th
      Groups
    %td
      -@snippet.users.each do |group|
        %ul
          %li= link_to(group.name, group_path(group.id))


%button.btn.btn-default
  = link_to('Edit snippet', edit_snippet_path(@snippet.id))
%button.btn.btn-default
  = link_to('Delete snippet', snippet_path(@snippet.id), :method => :delete)
%button.btn.btn-default
  = link_to('Share snippet', share_snippet_path(@snippet.id))

