= form_for @snippet, :method => :post, :url => save_group_snippet_path(@group.id) do |f|
  %div.form-group
  = f.label :name
  = f.text_field :name, :required => true, :autofocus => true, :class => 'form-control'
  %div.form-group
  = f.label :content
  = f.text_field :content, :required => true, :class => 'form-control'
  %div.form-group
  = f.submit "Create snippet"