%table.table.table-striped
  %tr
    %th
      Name
    %td= @group.name
  %tr
    %th
      ID
    %td= @group.id.to_s
  %tr
    %th
      Personal Group?
    %td= @group.is_personal.to_s
  %tr
    %th
      Mebers
    %td
      -@group.users.each do |user|
        %ul
          %li= link_to(user.name, user_path(user.id))
  %tr
    %th
      Snippets
    %td
      -@group.snippets.each do |snippet|
        %ul
          %li= link_to(snippet.name, snippet_path(snippet.id))
   

- unless @group.is_personal
  %button.btn.btn-default
    = link_to('Edit group', edit_group_path(@group.id))
  %button.btn.btn-default
    = link_to('Delete group', group_path(@group.id), :method => :delete)
%button.btn.btn-default
  = link_to('Add snippet', add_group_snippet_path(@group.id))
%button.btn.btn-default
  = link_to('Add user', add_user_path(@group.id))

  

