<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>data-snippet.io</title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <a class="logo" href=<%= root_path %>>data-snippet</a>
    <ul>
      <% if @current_user.present? %>
      <% @group = Group.find_by :name => @current_user.name %>
        <li><%= link_to('My groups ', groups_path) %></li>
        <li><%= link_to('My personal snippets ', snippets_path) %></li>
        <li><%= link_to('New group ', new_group_path) %></li>
        <% if @group.is_personal %>
          <li><%= link_to('New snippet ', add_group_snippet_path(@group.id))%></li>
        <% end %>
        <li><%=link_to('Sign out '+ @current_user.name, login_path, :method => :delete)%></li>
      <% else %>
          <li><%= link_to('Sign up', new_user_path) %></li>
          <li><%= link_to('Log in', login_path) %></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
