<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>data-snippet.io</title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=<%= root_path %>><b>data-snippet</b></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><%= link_to('Download the js file', '/data-snippet.js.zip') %></li>
            <% if @current_user.present? %>
            <% @group = Group.find_by :name => @current_user.name %>
              <li><%= link_to('My groups ', groups_path) %></li>
              <li><%= link_to('My personal snippets ', snippets_path) %></li>
              <li><%= link_to('New group ', new_group_path) %></li>
              <% if @group.is_personal %>
                <li><%= link_to('New snippet ', add_group_snippet_path(@group.id))%></li>
              <% end %>
              <li><%=link_to('Sign out '+ @current_user.name, login_path, :method => :delete)%></li>
            <% else %>
                <li><%= link_to('Sign up', new_user_path) %></li>
                <li><%= link_to('Log in', login_path) %></li>
            <% end %>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
  <div class='container content-container'> 
    <%= yield %>
  </div>

</body>
</html>
